{% extends 'base.html.twig' %}

{% block title %}Modificar Evento{% endblock %}

{% block body %}
    <div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('evento_index') }}">Eventos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modificar</li>
        </ol>
    </nav>

    <h4 class="mb-4">Modificar información del evento</h4>
    <div class="row justify-content-md-center">
        <div class="col-6">
            {{ include('evento/_form.html.twig', {'button_label': 'Actualizar'}) }}
            {{ include('evento/_delete_form.html.twig') }}
        </div>
    </div>

    </div>
{% endblock %}
